@charset "utf-8";
/* CSS Document */
body {
	background-color: #000;
	color: #fff;
}
div {
	border: 1px solid rgba(255,255,255,0.5);
}
#chrono {
	text-align: center;
}
#map {
	text-align: center;
}
#main_screen {
	text-align: center;
}
#main_text {
	text-align: center;
}
#investigate {
	text-align: center;
}
#spaceport {
	text-align: center;
}
#spaceport p:hover {
	background-color: blue;
	cursor:pointer;
}
#guild {
	text-align: center;
}